@import 'global';
@import 'reset';
@import 'vars';

.header {
    padding: 1px 0 50px;

    &__logo {
        padding: 0 50px;
    }

    &__content {
        position: relative;
        display: flex;
        padding-top: 86px;
        align-items: center;
        justify-content: flex-end;
    }

    &__info {
        position: absolute;
        left: 0;
    }

    &__title {
        font-size: 84px;
        font-weight: 400;
    }

    &__img {
        max-width: 448px;
    }

    &__add {
        position: relative;
        color: #000000;
        text-transform: uppercase;
        font-size: 17px;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/icons/arrows.svg);
            width: 55px;
            height: 17px;
            top: 0;
            right: -39%;
            animation: 1s move infinite;
        }
    }

    @keyframes move {
        0% {
            opacity: 1;
        }

        25% {
            opacity: 0.6;
        }

        50% {
            opacity: 0.1;
        }

        75% {
            opacity: 0.6;
        }

        100% {
            opacity: 1;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    &__list {
        display: flex;
        margin: 0;
    }

    &__item {

        &:nth-child(1),
        &:nth-child(3) {
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
    }

    &__link {
        display: block;
        padding: 26px 73px;
        color: #000000;
        background-color: #fff;
        transition: color 0.4s, background-color 0.4s;

        &:hover {
            background-color: #000000;
            ;
            color: #fff;
        }
    }
}

.shop {

    &__content {
        display: flex;
    }

    &__link {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            @extend %link;
            transition: background-color 0.5s, color 0.5s;
        }

        &--woman::after {
            content: 'shop women';
        }

        &--man::after {
            content: 'shop men';
        }

        &:hover {
            &::after {
                background-color: #AABAD0;
                color: #fff;
            }
        }
    }
    &__banner {
        width: 100%;
    }
}

.product {
    padding: 50px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item {
        text-align: center;
        border: none;
        transition: border 0.4s, transform 0.4s;
        &:hover{
            transform: scale(0.8);
        }
    }

    &__name,
    &__price {
        color: black;
        font-weight: 700;
    }

    &__name {
        padding-bottom: 10px;
    }

    &__color {
        color: black;
        font-size: 16px;
        padding-bottom: 10px;
    }
}

.new {
    &__product {
        display: flex;
        align-items: center;
        background-color: #AABAD0;
    }

    &__top {
        padding-bottom: 190px;
    }

    &__name {
        font-size: 70px;
        margin-bottom: 15px;
    }

    &__img {
        max-width: 648px;
    }

    &__info {
        margin-left: 70px;
    }

    &__discr {
        margin-bottom: 50px;
    }

    &__link {
        @extend %link;
        animation: 1s animate_pulse infinite;

        &:hover {
            animation: none;
        }
    }
}

.bestsell {
    &__top {
        padding-bottom: 190px;
    }

    &__content {
        display: flex;
    }

    &__link {
        position: relative;

        &--active::after {
            position: absolute;
            content: 'FOR SIGHT';
            bottom: 0;
            right: 0;
            @extend %link;
            transition: background-color 0.5s, color 0.5s;
        }

        &:hover {

            &::after {
                background-color: #AABAD0;
                color: #fff;
            }
        }
    }

    &__banner {
        width: 100%;

    }
}

.our {
    padding-bottom: 150px;

    &__anim {
        margin: 80px 0 190px 0;
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    &__text {
        display: block;
        font-size: 100px;
        font-weight: 700;
        color: #FFBCBC;
        display: inline-block;
        padding-left: 100%;
        animation: scroll 35s infinite linear;
    }

    &__text--right {
        display: block;
        padding-right: 100%;
        animation: scrollRight 35s infinite linear;
    }

    @keyframes scroll {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0)
        }
    }

    @keyframes scrollRight {
        0% {
            transform: translate(-100%, 0);
        }

        100% {
            transform: translate(0, 0)
        }
    }

    &__info {
        display: flex;
        justify-content: center;
    }

    &__content {
        max-width: 470px;
        margin-right: 120px;
    }

    &__info-text p {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer {
    padding: 20px 0;
    background-color: #AABAD0;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        border-bottom: 2px solid #000;
    }

    &__discr {
        font-weight: 700;
    }

    &__info {
        border-right: 2px solid #000;
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
    }

    &__nav {
        display: flex;
    }

    &__list {
        margin-right: 130px;
    }

    &__link,
    &__item {
        color: #000000;
        margin-bottom: 10px;
    }

    &__link {
        transition: color 0.4s;

        &:hover {
            color: #FFBCBC;
        }
    }

    &__link--title {
        font-size: 20px;
        font-weight: 700;

        &:hover {
            color: #000000;
        }
    }

    &__contact {
        padding-top: 20px;
    }

    &__text {
        max-width: 245px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 2px solid #000;
    }

    &__phone,
    &__mail {
        display: block;
        color: #000;
        transition: color 0.4s;

        &:hover {
            color: #FFBCBC;
        }
    }

    &__phone {
        margin-bottom: 10px;
    }

    &__social-link {
        svg {
            transition: fill 0.4s;

            path {
                fill: black;
            }

            &:hover {
                path {
                    fill: #FFBCBC;
                }
            }
        }
    }
}


@keyframes animate_pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(228, 25, 49, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
    }
}

@import 'media';